#### .NET Coding Conventions ####
[*.{cs,vb}]

# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none

# CA1707: Remove the underscore
dotnet_diagnostic.CA1707.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA2100: Review SQL queries for security vulnerabilities
dotnet_diagnostic.CA2100.severity = none

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = none

# CS1591: Missing XML comment
dotnet_diagnostic.CS1591.severity = none